#jobStatusChart {

}

#chartDivPopup
{
    position: absolute;
    top: 100px;
    left: 200px;
}

.dateFrom {
    width: 100px;
}

.dateTo {
    width: 100px;
}

.dateField {
    width: 110px;
}

.filterField {
    width: 130px;
}

.filterJobField {
    width: 140px;
}

#jobStatus {
    width: 152px;
}

#jobType {
    width: 152px;
}

#fromLsd {
    width: 40px;
}

#fromSection {
    width: 45px;
}

#fromTownship {
    width: 50px;
}

#fromRange {
    width: 45px;
}

#fromMeridian {
    width: 45px;
}

#fromQuarterUnit,#fromUnit,#fromBlock {
    width: 35px;
}
#fromNtsMapsheet,#fromMapsheet1250,#fromMapsheet150 {
    width: 40px;
}

#loginPage {
    background-color: #f5f5f5;
}

.form-signin {
    position: relative;
    top: 15px;
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}

#jobFilesPopup {
    width: 1000px;
    margin-left:-500px; /* -width/2 */
}

#jobHistoryPopup {
    width: 800px;
    margin-left:-400px; /* -width/2 */
}

.hidden
{
    display: none !important;
}


.sorting_1
{
    background-color: #f5f5f5 !important;
}

.odd
{
    background-color: #f5f5f5 !important;
}

.info
{
    background-color: #fcf8e3 !important;
}

.dataTables_info
{
    position: relative !important;
    margin-top: 10px !important;

}

.dataTables_paginate
{
    position: relative !important;
    margin-top: 10px !important;
}

.paginate_button
{
    background-color: white !important;
}

.paginate_active
{
    background-color: #e5e5e5 !important;
}

.pngLocationFilter
{
    width: 18px !important;
}

.locationFilter
{
    width: 22px !important;
}

.jobHistoryFilter
{
    width: 102px !important;
}

.jobHistoryFilterDate
{
    width: 75px !important;
}

legend
{
    font-size: 12pt;
    font-weight: bold;
    color: #888888;
}

.jobFilesFilter
{
    width: 102px !important;
}

.jobFilesFilterSelect
{
    width: 115px !important;
}

.jobFilesFilterDate
{
    width: 75px !important;
}

.messagesFilter
{
    width: 102px !important;
}

.messagesFilterDate
{
    width: 75px !important;
}

.clientActivityFilter
{
    width: 102px !important;
}

.clientActivityFilterDate
{
    width: 75px !important;
}

.manageJobFilter
{
    width: 90px !important;
}

.manageJobFilterSelect
{
    width: 103px !important;
}

.manageJobFilterSelect2
{
    width: 147px !important;
}

.manageJobFilterDate
{
    width: 63px !important;
}

.sidebarHR
{
    width: 190px;
}

.jobLegend
{
    width: 196px;
}