<div class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="/home">Focus Client Portal</a>
        <ul class="nav">
            <li id="menuViewJobs"><a href="/home">Home</a></li>
            <li id="menuJobHistory"><a href="/viewJobHistory">Job History</a></li>
            <li id="menuJobFiles"><a href="/viewJobFiles">Job Files</a></li>
            <li id="menuMapJobs"><a href="http://maps.google.ca/">Map Jobs</a></li>
        </ul>

        <ul class="nav pull-right">
            <li id="menuClientFiles"><a href="/clientFiles"><span class="icon-folder-open"></span></a></li>
            <li id="menuMessages"><a href="/viewMessages"><span class="icon-envelope"></span>{% if unreadMessages > 0 %} {{ unreadMessages }}{% endif %}</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class='icon-user'></span> {{ user.user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="/changePassword">Change Password</a></li>
                    <li class="divider"></li>
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </li>
            <li id="menuHelp"><a href="#"><span class="icon-question-sign"></span></a></li>
        </ul>
    </div>
</div>