<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.css" />
    {% if user.role == 3 %}
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                $.src='//cdn.zopim.com/?1Agr2UfhheuEIAobJEVMxe7YjJyfsyKv';z.t=+new Date;$.
                        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
        <!--End of Zopim Live Chat Script-->
    {% endif %}
</head>
<body>
{% if user.role == 3 %}
    {% include '_clientMenu.html' %}
{% else %}
    {% include '_pmMenu.html' %}
{% endif %}

<div class="container">

    <form class="form-horizontal">

        <div class="control-group">   <label class="control-label">Current Password:</label><div class="controls"> <input type="text" id="currentPassword" name="currentPassword"></div></div>
        <div class="control-group">   <label class="control-label">New Password:</label><div class="controls"> <input type="text" id="newPassword1" name="newPassword1"></div></div>
        <div class="control-group">   <label class="control-label">New Password:</label><div class="controls"> <input type="text" id="newPassword2" name="newPassword2"></div></div>
    {% csrf_token %}
        <div class="control-group">    <div class="controls"> <input class="btn btn-primary" type="submit" value="Submit" onclick="ChangePassword();"></div>        </div>
    </form>


</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function(){
    });

    function ChangePassword() {
        var currentPassword = $("#currentPassword").val();
        var newPassword1 = $("#newPassword1").val();
        var newPassword2 = $("#newPassword2").val();
        var csrfToken = $("#csrfmiddlewaretoken").val();
        // disable button & show ajax loading image

        $.ajax(
                {
                    url: '/performChangePassword',
                    type: 'POST',
                    cache: false,
                    async: true,
                    dataType: 'json',
                    data: { 'currentPassword': currentPassword, 'newPassword1': newPassword1, 'newPassword2': newPassword2, 'csrfmiddlewaretoken' : csrfToken },
                    success: function (data) {
                        if(data.success == true)
                            alert("Your password has been changed.");
                        else
                            alert("An error occurred while changing your password: " + data.message);
                        // hide ajax loading image and enable button again
                        // redirect to login page
                    },
                    error: function(data) {
                        console.log("Error setting UserViewedJobs");
                        alert("An error occurred while changing your password.");
                        // hide ajax loading image and enable button again
                    }
                }
        );

    }

</script>