<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/datepicker.css" />
</head>
<body>

{% if user.role == 3 %}
    {% include '_clientMenu.html' %}
{% else %}
    {% include '_pmMenu.html' %}
{% endif %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 well">
            <fieldset>
                <legend>Filter Activity &nbsp; &nbsp; &nbsp;&nbsp;<input class="btn" type="button" value="Clear" onclick="ClearFilter();"></legend>
                Start Date: <div data-date-format="mm/dd/yyyy" data-date="" id="dateFrom"class="input-append date">
                <input type="text" class="dateFrom clientActivityFilterDate">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div><br/>
                End Date: &nbsp;&nbsp;<div data-date-format="mm/dd/yyyy" data-date="" id="dateTo"class="input-append date">
                <input type="text" class="dateTo clientActivityFilterDate">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div><br/>
            Client:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="client" name="client" class="filterField clientActivityFilter"><br/>
            Contact:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="contact" name="contact" class="filterField clientActivityFilter"><br/>
            Activity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="activity" name="activity" class="filterField clientActivityFilter"><br/>
            </fieldset>
        </div>
        <div class="span10">
            <div id="exportTable" class="pull-right"><button class="btn btn-mini" type="button">PDF</button> <button class="btn btn-mini" type="button">XLS</button></div>
            <table class='table table-bordered table-striped table-hover' id="clientActivityTable">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Client</td>
                    <td>Contact</td>
                    <td>Action</td>
                    <td>Sort Date</td>
                </tr>
                </thead>
                <tbody>
                {% for activity in clientActivity %}
                    <tr>
                        <td>{{ activity.date }}</td>
                        <td><a href="\static\cnrl.jpg">{{ activity.user.client.name }}</a></td>
                        <td><a href="\static\cnrlContact.jpg">{{ activity.user.user.first_name }} {{ activity.user.user.last_name }}</a></td>
                        <td>{{ activity.action }}</td>
                        <td>{{ activity.date|date:"YmdGis"|lower }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>



<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
<script src="/static/jqplot/jquery.jqplot.min.js"></script>
<script src="/static/jqplot/plugins/jqplot.pieRenderer.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function(){
        $("#menuClientActivity").addClass("active");

        var activityTable = $('#clientActivityTable').dataTable(
                {
                    "bPaginate": true,
                    "bSearchable": true,
                    "bFilter": true,
                    "bScrollCollapse": true,
                    "aaSorting": [[8, 'desc']],
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": 20,
                    "oTableTools": {
                        "sRowSelect": "single",
                        "aButtons": []
                    },
                    "aoColumns": [
                        { "sWidth": "180px", "iDataSort" : 4 },
                        { "sWidth": "275px" },
                        { "sWidth": "150px" },
                        null,
                        { "bVisible": false },
                    ]
                }
        );
        $("#clientActivityTable_filter").css("display", "none");
        $('#clientActivityTable_length').css("display", "none");

        $('#dateFrom').datepicker().on('changeDate', function(ev){
            activityTable.fnDraw();
            $('#dateFrom').datepicker('hide');
        } );

        $('#dateTo').datepicker().on('changeDate', function(ev){
            activityTable.fnDraw();
            $('#dateTo').datepicker('hide');
        } );

        $("#client").keyup(function () { ActivityFilterChanged($("#client").val(), 1); });
        $("#contact").keyup(function () { ActivityFilterChanged($("#contact").val(), 2); });
        $("#activity").keyup(function () { ActivityFilterChanged($("#activity").val(), 3); });
    });

    function ClearFilter(){
        $('#dateFrom>input').val('');
        $('#dateTo>input').val('');
        $('#dateFrom').data('datepicker').date = null;
        $('#dateTo').data('datepicker').date = null;

        $("#client").val('');
        $("#contact").val('');
        $("#activity").val('');

        var table = $("#clientActivityTable").dataTable();
        var oSettings = table.fnSettings();
        for(iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
            oSettings.aoPreSearchCols[ iCol ].sSearch = '';
        }
        table.fnDraw();
    }

    function parseDateValue(input) {
        input = input.replace('.','');
        return Date.parse(input);
    }

    $.fn.dataTableExt.afnFiltering.push(
            function(oSettings, aData, iDataIndex){
                var dateStart =$('#dateFrom>input').val();
                var dateEnd =$('#dateTo>input').val();
                if (!dateStart && !dateEnd) return true;
                var evalDate= aData[0].substring(0,13);

                if (!dateStart) {
                    if (parseDateValue(evalDate) <= parseDateValue(dateEnd)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                } else if(!dateEnd) {
                    if (parseDateValue(evalDate) >= parseDateValue(dateStart)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }

                if (parseDateValue(evalDate) >= parseDateValue(dateStart) && parseDateValue(evalDate) <=parseDateValue(dateEnd)) {
                    return true;
                }
                else {
                    return false;
                }

            });

    function ActivityFilterChanged(value, column) {
        var table = $("#clientActivityTable").dataTable();
        if (!value) value = '';
        table.fnFilter(value, column);
    }


</script>