<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" />
    {% if user.role == 3 %}
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                $.src='//cdn.zopim.com/?1Agr2UfhheuEIAobJEVMxe7YjJyfsyKv';z.t=+new Date;$.
                        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
        <!--End of Zopim Live Chat Script-->
    {% endif %}
</head>
<body>

{% if user.role == 3 %}
    {% include '_clientMenu.html' %}
{% else %}
    {% include '_pmMenu.html' %}
{% endif %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 well">
            <fieldset>
                <legend>Filter Files&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <input class="btn" type="button" value="Clear" onclick="ClearFilter();"></legend>
                Date From: <div data-date-format="mm/dd/yyyy" data-date="" id="filterDateFrom"class="input-append date">
                <input type="text" class="dateTo jobFilesFilterDate">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div><br/>
                Date To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div data-date-format="mm/dd/yyyy" data-date="" id="filterDateTo"class="input-append date">
                <input type="text" class="dateTo jobFilesFilterDate">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div><br/>
                <div id="ClientLookup">
                Client:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <select id="clientId" class="jobFilesFilterSelect">
                    <option value=""></option>
                    <option value="3231">Canadian Natural Resources Limited</option>
                    <option value="27747">Nexen</option>
                </select>
                <br/>
                </div>
                Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="filterType" class="filterField jobFilesFilter"/><br/>
                Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="filterName" class="filterField jobFilesFilter"/><br/>
            </fieldset>
        </div>
        <div class="span10">
            <div id="exportTable" class="pull-right"><button class="btn btn-mini" type="button">PDF</button> <button class="btn btn-mini" type="button">XLS</button></div>
            <table class='table table-bordered table-striped table-hover' id="fileTable">
                <thead>
                <tr>
                    <td>Date Added</td>
                    <td>ClientId</td>
                    <td>Name</td>
                    <td>Description</td>
                    <td>Size</td>
                    <td>Sort Date Added</td>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Feb. 23, 2013, 11:08 p.m.</td>
                        <td>3231</td>
                        <td><a href="#">testFile.png</a></td>
                        <td>PNG Sample</td>
                        <td>10kb</td>
                        <td>20130223</td>
                    </tr>
                    <tr>
                        <td>Feb. 13, 2013, 10:08 p.m.</td>
                        <td>3231</td>
                        <td><a href="#">testFile2.pdf</a></td>
                        <td>Another test file</td>
                        <td>10kb</td>
                        <td>20130213</td>
                    </tr>
                    <tr>
                        <td>Feb. 23, 2013, 11:08 p.m.</td>
                        <td>27747</td>
                        <td><a href="#">nexen.png</a></td>
                        <td>PNG Sample</td>
                        <td>10kb</td>
                        <td>20130223</td>
                    </tr>

                </tbody>
            </table>
<br/><br/>
            {% if user.role != 3 %}
            <input class="btn btn-primary" type="submit" value="Add File" id="newMessageButton" onclick="$('#addFilePopup').modal();">
            {% endif %}
        </div>
    </div>


</div>

<div id="addFilePopup" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Add file</span></h3>
    </div>
    <form action="/uploadFile" enctype="multipart/form-data" method="post">{% csrf_token %}
        <div class="modal-body">
            Client:
            <select id="clientId" class="jobFilesFilterSelect">
                <option value="3231">Canadian Natural Resources Limited</option>
                <option value="27747">Nexen</option>
            </select>
            <br/>
            File: &nbsp; {{ fileForm.file }}<br/>
            Type: {{ fileForm.fileType }}<br/>
            <div class='hidden'>{{ fileForm.jobNumber }}</div>

            <input type="submit" value="Submit" class='hidden' id="fileSubmitButton" />

        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">Close</a>
            <a href="#" class="btn btn-primary" onclick="$('#fileSubmitButton').click()">Submit</a>
        </div>
    </form>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function(){
        $("#menuClientFiles").addClass("active");
        {% if user.role == 3 %}
        $("#clientId").val({{ user.client.clientId }});
        $("#ClientLookup").addClass("hidden")
        {% endif %}

        var fileTable=$("#fileTable").dataTable(
                {
                    "bPaginate": true,
                    "bSearchable": true,
                    "bFilter": true,
                    "bScrollCollapse": true,
                    "aaSorting": [[8, 'desc']],
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": 20,
                    "oTableTools": {
                        "sRowSelect": "single",
                        "aButtons": []
                    },
                    "aoColumns": [
                        { "sWidth": "180px", "iDataSort" : 5 },
                        { "sClass": "hidden" },
                        { "sWidth": "175px" },
                        null,
                        { "sWidth": "75px" },
                        { "bVisible": false }
                    ]
                }
        );
        $("#fileTable_filter").css("display", "none");
        $('#fileTable_length').css("display", "none");


        fileTable.fnFilter($("#clientId").val(), 1);

        $('#filterDateFrom').datepicker().on('changeDate', function(ev){
            fileTable.fnDraw();
            $('#filterDateFrom').datepicker('hide');
        } );

        $('#filterDateTo').datepicker()
                .on('changeDate', function(ev){
                    fileTable.fnDraw();
                    $('#filterDateTo').datepicker('hide');
                } );

        $("#filterJob").keyup(function () { FilterChanged($("#filterJob").val(), 1); });
        $("#filterType").keyup(function () { FilterChanged($("#filterType").val(), 2); });
        $("#filterName").keyup(function () { FilterChanged($("#filterName").val(), 3); });
        $("#clientId").change(function () { FilterChanged($("#clientId").val(), 1); });

    });
    function parseDateValue(input) {
        input = input.replace('.','');
        return Date.parse(input);
    }

    function FilterChanged(value, column) {
        var table = $("#fileTable").dataTable();
        if (!value) value = '';
        table.fnFilter(value, column);
    }

    $.fn.dataTableExt.afnFiltering.push(
            function(oSettings, aData, iDataIndex){
                var dateStart =$('#filterDateFrom>input').val();
                var dateEnd =$('#filterDateTo>input').val();
                if (!dateStart && !dateEnd) return true;
                var evalDate= aData[0].substring(0,13);

                if (!dateStart) {
                    if (parseDateValue(evalDate) <= parseDateValue(dateEnd)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                } else if(!dateEnd) {
                    if (parseDateValue(evalDate) >= parseDateValue(dateStart)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }

                if (parseDateValue(evalDate) >= parseDateValue(dateStart) && parseDateValue(evalDate) <=parseDateValue(dateEnd)) {
                    return true;
                }
                else {
                    return false;
                }

            });

    function ClearFilter(){
        $('#filterDateTo>input').val('');
        $('#filterDateFrom>input').val('');
        $('#filterDateTo').data('datepicker').date = null;
        $('#filterDateFrom').data('datepicker').date = null;
        $("#filterJob").val('');
        $("#filterType").val('');
        $("#filterName").val('');

        {% if user.role == 3 %}
            $("#clientId").val({{ user.client.clientId }});
        {% else %}
            $("#clientId").val('');
        {% endif %}


        var table = $("#fileTable").dataTable();
        var oSettings = table.fnSettings();
        for(iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
            oSettings.aoPreSearchCols[ iCol ].sSearch = '';
        }
        table.fnDraw();
    }


</script>