<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.css" />
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
            $.src='//cdn.zopim.com/?1Agr2UfhheuEIAobJEVMxe7YjJyfsyKv';z.t=+new Date;$.
                    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->
</head>
<body id="loginPage">


<div class="container">
    <div class="form-signin" ><br/>

        <img src="{{ STATIC_URL }}images/focus.png"/><br/>
        <h2 class="form-signin-heading">Password Reset</h2>
        Email address: <input type="text" id="email" name="email"><br/>

        <input class="btn btn-primary" type="submit" value="Submit" onclick="ResetPassword();">
    </div>





</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function(){
    });

    function ResetPassword() {
        var email = $("#email").val();
        // disable button & show ajax loading image

        $.ajax(
                {
                    url: '/resetAndEmailPassword/?email=' + email,
                    type: 'GET',
                    cache: false,
                    async: true,
                    dataType: 'json',
                    success: function (data) {
                        alert("An email has been sent to " + email + " with your new password.");
                        // hide ajax loading image and enable button again
                    },
                    error: function(data) {
                        console.log("Error setting UserViewedJobs");
                        alert("An error occurred while resetting your password.");
                        // hide ajax loading image and enable button again
                    }
                }
        );

    }

</script>