<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ STATIC_URL }}style.css" rel="stylesheet" media="screen">
    <!--Start of Zopim Live Chat Script-->
    <script type="text/javascript">
        window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
            $.src='//cdn.zopim.com/?1Agr2UfhheuEIAobJEVMxe7YjJyfsyKv';z.t=+new Date;$.
                    type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
    </script>
    <!--End of Zopim Live Chat Script-->
</head>
<body id="loginPage">

<div class="container">

    <form class="form-signin" action="/login/" method="post"><br/>
        {% csrf_token %}
        <img src="{{ STATIC_URL }}images/focus.png"/><br/>
        <h2 class="form-signin-heading">Client Portal Login</h2>
        <input type="text" class="input-block-level" placeholder="Email address" id="user" name="user">
        <input type="password" class="input-block-level" placeholder="Password" id="pw" name="pw">
        <a class="pull-right" href="/forgotPassword.html">Forgot password?</a><br/>
        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
        {{ message }}
    </form>



    <br/><br/>


</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
