<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqRangeSlider.css" />
    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/datepicker.css" />
</head>
<body>

{% if user.role == 3 %}
    {% include '_clientMenu.html' %}
{% else %}
    {% include '_pmMenu.html' %}
{% endif %}

<div class="container-fluid">
<div class="row-fluid">
<div class="span2 well">
        <legend >Filter Jobs&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn" type="button" value="Clear" onclick="ClearFilter();"></legend>
        Job Number:&nbsp; <input type="text" id="jobNumber" class="filterJobField manageJobFilter"/><br/>
        Client:&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp;<input type="text" id="jobClient" class="filterJobField manageJobFilter"/><br/>
        Status:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="input-append">
            <select id="jobStatus" class="manageJobFilterSelect2">
                <option value=""></option>
                <option value="1">New Job</option>
                <option value="2">Job Setup Completed</option>
                <option value="3">Released To Field</option>
                <option value="4">Field Work Started</option>
                <option value="5">Field Work Completed</option>
                <option value="6">Drafting Started</option>
                <option value="7">Drafting Completed</option>
                <option value="8">Checking Started</option>
                <option value="9">Checking Completed</option>
                <option value="10">Completed</option>
                <option value="11">Cancelled</option>
            </select>
            <button class="btn dropdown-toggle" data-toggle="dropdown" type="button"><span class="icon-info-sign"></span></button>
            <div class="dropdown-menu" id="chartDivPopup" role="menu"><div id="jobStatusChart" style="height:300px;width:260px;"></div></div>
        </div>
        <br/>
        Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="jobType" class="manageJobFilterSelect">
            <option value=""></option>
            <option value="1">Pipeline</option>
            <option value="2">Wellsite</option>
            <option value="3">Core Hole</option>
            <option value="4">Right of Way</option>
            <option value="5">Tower Site</option>
            <option value="6">Campsite</option>
            <option value="7">Other</option>
        </select>
        <br/>
        AFE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="afe" class="filterJobField manageJobFilter"/><br/>
        Client File #:&nbsp;&nbsp;<input type="text" id="clientFile" class="filterJobField manageJobFilter"/><br/>
        Date From:&nbsp;&nbsp;&nbsp;&nbsp;<div data-date-format="mm/dd/yyyy" data-date="" id="dateFrom"class="input-append date">
        <input type="text" class="dateField manageJobFilterDate">
        <span class="add-on"><i class="icon-calendar"></i></span>
        </div><br/>
        Date To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div data-date-format="mm/dd/yyyy" data-date="" id="dateTo"class="input-append date">
        <input type="text" class="dateField manageJobFilterDate">
        <span class="add-on"><i class="icon-calendar"></i></span>
        </div><br/>

</div>
<div class="span10">

    {% if numberOfChangesSinceLastLogin > 0 %}
        <div class="alert fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ numberOfChangesSinceLastLogin }} jobs have changed since your last visit. See the highlighted jobs below, or <a href="/viewJobHistory">Click here to see your full history.</a>
        </div>
    {% endif %}

    <div id="exportTable" class="pull-right"><button class="btn btn-mini" type="button">PDF</button> <button class="btn btn-mini" type="button">XLS</button></div>
    <table class='table table-bordered table-striped table-hover' id="jobTable">
        <thead>
        <tr>
            <td>Job</td>
            <td>Client</td>
            <td>Status</td>
            <td>Type</td>
            <td>AFE #</td>
            <td>Client File #</td>
            <td>Start Date</td>
            <td>Expected Completion</td>
            <td>Assigned To</td>
            <td>Files</td>
            <td>Map</td>
            <td>Last modified</td>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr class="id{{ job.number }}{% if job.lastModifiedDate > user.lastViewedJobs %} success{% endif %}" >
                <td><a onclick="ShowManageJob('{{ job.number }}', '{{ job.status }}');" href="#" )>{{ job.number }}</a></td>
                <td><a href="\static\cnrl.jpg">{{ job.client.name }}</a></td>
                <td>{{ job.get_status_display }}</td>
                <td>{{ job.get_jobType_display }}</td>
                <td>{{ job.afeNumber }}</td>
                <td>{{ job.clientFileNumber }}</td>
                <td>{{ job.startDate }}</td>
                <td>{{ job.expectedCompletionDate }}</td>
                <td>{{ job.assignedTo }}</td>
                <td>
                    {% if job.invoiceStatus == 3 %}
                        <span class="icon-ok-sign"></span>
                    {% endif %}
                    {% if job.invoiceStatus == 2 %}
                        <span class="icon-warning-sign"></span>
                    {% endif %}
                    {% if job.numberOfFiles == 1 %}
                        <a onclick="ShowJobFiles('{{ job.number }}');" class="icon-file" href="#" )> </a>
                    {% endif %}
                    {% if job.numberOfFiles > 1 %}
                        <a onclick="ShowJobFiles('{{ job.number }}');" class="icon-book" href="#" )> </a>
                    {% endif %}
                    <a onclick="ShowAddJobFile('{{ job.number }}');" class="icon-upload" href="#")> </a>
                </td>
                <td><center><a href="http://maps.google.ca"><span class="icon-globe"></span></a></center></td>
                <td>{{ job.lastModifiedDate }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>


<div id="jobFilesPopup" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span id="jobFileHeader"></span></h3>
    </div>
    <div class="modal-body">
        <table id="jobFilesTable" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <td>Name</td>
                <td>Size</td>
                <td>Type</td>
                <td>Date Added</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>
<div id="manageJobPopup" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span id="manageJobHeader"></span></h3>
    </div>
    <div class="modal-body">
        Status:
        <select id="manageJobStatus">
            <option value=""></option>
            <option value="1">New Job</option>
            <option value="2">Job Setup Completed</option>
            <option value="3">Released To Field</option>
            <option value="4">Field Work Started</option>
            <option value="5">Field Work Completed</option>
            <option value="6">Drafting Started</option>
            <option value="7">Drafting Completed</option>
            <option value="8">Checking Started</option>
            <option value="9">Checking Completed</option>
            <option value="10">Completed</option>
            <option value="11">Cancelled</option>
        </select>
        <br/>
        Comment: <input class="input-block-level" type="text" name="comment" id="manageJobComment" />
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" data-dismiss="modal" onclick="EditJob();">Submit</a>
    </div>
</div>

<div id="addJobFilePopup" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span id="addJobFileHeader"></span></h3>
    </div>
    <form action="/uploadFile" enctype="multipart/form-data" method="post">{% csrf_token %}
    <div class="modal-body">
        File: &nbsp; {{ fileForm.file }}<br/>
        Type: {{ fileForm.fileType }}<br/>
        <div class='hidden'>{{ fileForm.jobNumber }}</div>

            <input type="submit" value="Submit" class='hidden' id="fileSubmitButton" />

    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Close</a>
        <a href="#" class="btn btn-primary" onclick="$('#fileSubmitButton').click()">Submit</a>
    </div>
    </form>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
<script src="/static/jqplot/jquery.jqChart.min.js"></script>
<script src="/static/jqplot/jquery.jqRangeSlider.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
<script src="/static/dateHelper.js"></script>
<!--[if IE]><script lang="javascript" type="text/javascript" src="/static/jqplot/excanvas.js"></script><![endif]-->
</body>
</html>

<script type="text/javascript">

var jobList = eval("{{ jobsJson|escapejs }}");

$(document).ready(function(){
    $("#menuHome").addClass("active");

    var jobTable= $('#jobTable').dataTable(
            {
                "bPaginate": true,
                "bSearchable": true,
                "bFilter": true,
                "bScrollCollapse": true,
                "aaSorting": [[0, 'desc']],
                "sPaginationType": "full_numbers",
                "iDisplayLength": 20,
                "oTableTools": {
                    "sRowSelect": "single",
                    "aButtons": []
                }
            }
    );
    $("#jobTable_filter").css("display", "none");
    $('#jobTable_length').css("display", "none");

    $('#dateFrom').datepicker().on('changeDate', function(ev){
        jobTable.fnDraw();
        $('#dateFrom').datepicker('hide');
    } );

    $('#dateTo').datepicker().on('changeDate', function(ev){
        jobTable.fnDraw();
        $('#dateTo').datepicker('hide');
    } );

    $("#jobClient").keyup(function () { JobFilterChanged($("#jobClient").val(), 1); });
    $("#jobNumber").keyup(function () { JobFilterChanged($("#jobNumber").val(), 0); });
    $("#jobStatus").change(function () { JobFilterChanged($("#jobStatus").val(), 2,true); });
    $("#jobType").change(function () { JobFilterChanged($("#jobType").val(), 3,true); });
    $("#afe").keyup(function () { JobFilterChanged($("#afe").val(), 4); });
    $("#clientFile").keyup(function () { JobFilterChanged($("#clientFile").val(), 5); });

    $("#jobFilesTable").dataTable(
            {
                "bPaginate": false,
                "bSearchable": false,
                "bFilter": false,
                "bScrollCollapse": true,
                "aaSorting": [[3, 'desc']],
                "sPaginationType": "full_numbers",
                "oTableTools": {                        "sRowSelect": "single",
                    "aButtons": []
                }
            }
    );

    UserViewedJobs();
    GraphifyStatus();
});

function parseDateValue(input) {
    input = input.replace('.','');
    return Date.parse(input);
}

function ClearFilter(){
        $('#dateFrom>input').val('');
        $('#dateTo>input').val('');
        $('#dateFrom').data('datepicker').date = null;
        $('#dateTo').data('datepicker').date = null;
        $("#jobNumber").val('');
        $("#jobClient").val('');
        $("#afe").val('');
        $("#clientFile").val('');
        $("#jobStatus").val('');
        $("#jobType").val('');

        var table = $("#jobTable").dataTable();
        var oSettings = table.fnSettings();
        for(iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
            oSettings.aoPreSearchCols[ iCol ].sSearch = '';
        }
        table.fnDraw();
    }

function JobFilterChanged(value, column, blnExactMatch) {
    if (column == 2) value = getStatusDisplay(value);
    if (column ==3) value = getJobTypeDisplay(value);

    if (!value) {
        value = '';
        blnExactMatch = false;
    }
    var table = $("#jobTable").dataTable();
    if (blnExactMatch)
        table.fnFilter( "^"+ value+"$", column, true);
    else
        table.fnFilter(value, column);
}

$.fn.dataTableExt.afnFiltering.push(
        function(oSettings, aData, iDataIndex){
            var dateStart =$('#dateFrom>input').val();
            var dateEnd =$('#dateTo>input').val();
            if (!dateStart && !dateEnd) return true;
            var evalDate= aData[6];

            if (!dateStart) {
                if (parseDateValue(evalDate) <= parseDateValue(dateEnd)) {
                    return true;
                }
                else {
                    return false;
                }
            } else if(!dateEnd) {
                if (parseDateValue(evalDate) >= parseDateValue(dateStart)) {
                    return true;
                }
                else {
                    return false;
                }
            }

            if (parseDateValue(evalDate) >= parseDateValue(dateStart) && parseDateValue(evalDate) <=parseDateValue(dateEnd)) {
                return true;
            }
            else {
                return false;
            }

        });

function ShowJobFiles(jobNumber) {
    $("#jobFileHeader").text("Files for " + jobNumber);
    var table = $("#jobFilesTable").dataTable();
    table.fnClearTable();
    $.ajax(
            {
                url: '/getJobDocuments/?jobNumber=' + jobNumber,
                type: 'GET',
                cache: false,
                async: true,
                dataType: 'json',
                success: function (data) {
                    for(var i = 0; i < data.length; i++)
                    {
                        var dateAdded = new Date(data[i].fields.dateAdded);
                        dateAdded = dateAdded.format("mmmm d, yyyy HH:MM");

                        var displayName = data[i].fields.file.replace("ClientPortal/static/Files/","");
                        var fileLink = "<a href='/" + data[i].fields.file.replace("ClientPortal/", "") + "'>" + displayName + "</a>";
                        var fileType = "";

                        if(data[i].fields.fileType == 1)
                            fileType = "Invoice";
                        else if(data[i].fields.fileType == 2)
                            fileType = "Plan";
                        else
                            fileType = "Misc"

                        table.fnAddData([fileLink, "100kb", fileType, dateAdded]);
                    }
                },
                error: function(data) {
                    console.log("Error getting job files");
                    // do nothing
                }
            }
    );

    $('#jobFilesPopup').modal();
}

function ShowManageJob(jobNumber, status) {
    $("#manageJobHeader").text(jobNumber);
    $("#manageJobStatus").val(status);
    $('#manageJobPopup').modal();
}

function ShowAddJobFile(jobNumber) {
    $("#addJobFileHeader").text(jobNumber);
    $("#id_jobNumber").val(jobNumber);
    $('#addJobFilePopup').modal();
}

function GraphifyStatus() {
    var statCount = {};
    $.each(jobList, function() {
        var status = this.fields.status;
        statCount[status] = statCount[status] +1 || 1;
    });
    var data = [];
    for (var s in statCount) {
        data.push([getStatusDisplay(s), parseInt(statCount[s])]);
    }

    $('#jobStatusChart').jqChart({
        legend: {
            visible: true,
            border: {
                lineWidth: 1,
                strokeStyle: '#f5f5f5'
            },
            location: 'bottom',
            font: '10px sans-serif',
            textFillStyle: '#418CF0',
            background: '#eeeeee',
            margin: 0
        },
        animation: { duration: 1 },
        grid: {
            drawBorder: false,
            drawGridlines: false,
            background: '#f5f5f5'
        },
        border: { strokeStyle: '#f5f5f5' },
        shadows: {
            enabled: true
        },
        series: [
            {
                type: 'pie',
                labels: {
                    valueType: 'value',
                    font: '10px sans-serif',
                    fillStyle: 'black'
                },
                data: data
            }
        ]
    });
    $('#jobStatusChart').bind('dataPointMouseUp', function (e, data) {
        ClearFilter();
        var statusId = ConvertJobStatusNameToId(data.dataItem[0]);
        $("#jobStatus").val(statusId);
        var table = $("#jobTable").dataTable();
        table.fnFilter( "^"+ data.dataItem[0]+"$", 2, true);
    });
}

function ConvertJobStatusNameToId(name) {
    if(name == "New Job")
        return "1";
    else if(name == "Job Setup Completed")
        return "2";
    else if(name == "Released To Field")
        return "3";
    else if(name == "Field Work Started")
        return "4";
    else if(name == "Field Work Completed")
        return "5";
    else if(name == "Drafting Started")
        return "6";
    else if(name == "Drafting Completed")
        return "7";
    else if(name == "Checking Started")
        return "8";
    else if(name == "Checking Completed")
        return "9";
    else if(name == "Completed")
        return "10";
    else if(name == "Cancelled")
        return "11";
}

function getStatusDisplay(s) {
    var h = {1: 'New Job', 2: 'Job Setup Completed', 3: 'Released To Field', 4: 'Field Work Started', 5: 'Field Work Completed', 6: 'Drafting Started', 7: 'Drafting Completed', 8: 'Checking Started', 9: 'Checking Completed',10: 'Completed',11: 'Cancelled'};
    return h[s];
}

function getJobTypeDisplay(t) {
    var types = {1:'Pipeline', 2:'Wellsite',3: 'Core Hole',4:'Right of Way',5: 'Tower Site',6: 'Campsite',7: 'Other'};
    return types[t];
}
function UserViewedJobs() {
    var user = '{{ user.userId }}';
    $.ajax(
            {
                url: '/userViewedJobs/?user=' + user,
                type: 'GET',
                cache: false,
                async: true,
                dataType: 'json',
                success: function (data) {
                    // do nothing
                },
                error: function(data) {
                    console.log("Error setting UserViewedJobs");
                    // do nothing
                }
            }
    );
}

function EditJob() {
    var jobNumber = $("#manageJobHeader").text();
    var status = $("#manageJobStatus").val();
    var eta = "";
    var comment = "";

    $.ajax(
            {
                url: '/editJob',
                type: 'POST',
                cache: false,
                async: true,
                dataType: 'json',
                data: { 'jobNumber': jobNumber, 'status': status, 'eta': eta, 'comment': comment },
                success: function (data) {
                    var statusName = $($("#jobStatus option")[status]).text();
                    $($(".id" + jobNumber + " td")[2]).text(statusName);
                    // close the window.
                },
                error: function(data) {
                    alert("An error occurred while updating your job.");
                    // hide ajax loading image and enable button again
                }
            }
    );
}

function PopulateATSLookups() {
    for(var i = 1; i < 17; i++) {
        $('#fromLsd').append( new Option(i, i) );
        $('#toLsd').append( new Option(i, i) );
    }

    for(var i = 1; i < 37; i++) {
        $('#fromSection').append( new Option(i, i) );
        $('#toSection').append( new Option(i, i) );
    }

    for(var i = 1; i < 127; i++) {
        $('#fromTownship').append( new Option(i, i) );
        $('#toTownship').append( new Option(i, i) );
    }

    for(var i = 1; i < 31; i++) {
        $('#fromRange').append( new Option(i, i) );
        $('#toRange').append( new Option(i, i) );
    }

    for(var i = 1; i < 7; i++) {
        $('#fromMeridian').append( new Option(i, i) );
        $('#toMeridian').append( new Option(i, i) );
    }
}

</script>