<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/style.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.css" />
    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/datepicker.css" />
    {% if user.role == 3 %}
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                $.src='//cdn.zopim.com/?1Agr2UfhheuEIAobJEVMxe7YjJyfsyKv';z.t=+new Date;$.
                        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
        <!--End of Zopim Live Chat Script-->
    {% endif %}
</head>
<body>

{% if user.role == 3 %}
    {% include '_clientMenu.html' %}
{% else %}
    {% include '_pmMenu.html' %}
{% endif %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 well">
            <fieldset>
                <legend>Filter Messages &nbsp; <input class="btn" type="button" value="Clear" onclick="ClearFilter();"></legend>
                Date From: <div data-date-format="mm/dd/yyyy" data-date="" id="inboxDateFrom"class="input-append date">
                <input type="text" class="dateFrom messagesFilterDate">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div><br/>
                Date To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div data-date-format="mm/dd/yyyy" data-date="" id="inboxDateTo"class="input-append date">
                <input type="text" class="dateTo messagesFilterDate">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div><br/>
            From:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="inboxFrom" class="filterField messagesFilter"/><br/>
            Client:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="inboxClient" class="filterField messagesFilter"/><br/>
            Subject:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="inboxSubject" class="filterField messagesFilter"/><br/>
            </fieldset>
        </div>
        <div class="span10">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
                <li><a href="#sentMessages" data-toggle="tab">Sent Messages</a></li>
            </ul>
            <div id="tabContent" class="tab-content">
                <div class="tab-pane active" id="inbox">

                    <table class='table table-bordered table-striped table-hover' id="inboxTable">
                        <thead>
                        <tr>
                            <td></td>
                            <td>Date</td>
                            <td>From</td>
                            <td>Client</td>
                            <td>Message</td>
                            <td></td>
                            <td class="hidden">id</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in messages %}
                            <tr class="messageRow">
                                <td>
                                    {% if not message.hasBeenRead %}
                                        <span class='icon-envelope'></span>
                                    {% endif %}
                                </td>
                                <td>{{ message.date }}</td>
                                <td>{{ message.sentFrom.user.first_name }} {{ message.sentFrom.user.last_name }}</td>
                                <td>{{ message.sentFrom.client.name }}</td>
                                <td>{{ message.subject }}</td>
                                <td>
                                    {% if message.attachment.name != "" %}
                                        <span class="icon-file"></span>
                                    {% endif %}
                                </td>
                            <td class="hidden">{{ message.id }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="tab-pane" id="sentMessages">
                    <table class='table table-bordered table-striped table-hover' id="sentMessagesTable">
                        <thead>
                        <tr>
                            <td></td>
                            <td>Date</td>
                            <td>To</td>
                            <td>Client</td>
                            <td>Message</td>
                            <td></td>
                            <td class="hidden">Id</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for message in sentMessages %}
                            <tr class="sentMessageRow">
                                <td>
                                    {% if not message.hasBeenRead %}
                                        <span class='icon-envelope'></span>
                                    {% endif %}
                                </td>
                                <td>{{ message.date }}</td>
                                <td>{{ message.sentTo.user.first_name }} {{ message.sentTo.user.last_name }}</td>
                                <td>{{ message.sentTo.client.name }}</td>
                                <td>{{ message.subject }}</td>
                                <td>
                                    {% if message.attachment.name != "" %}
                                        <span class="icon-file"></span>
                                    {% endif %}
                                </td>
                            <td class="hidden">{{ message.id }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="New Message" id="newMessageButton" onclick="$('#sendMessagePopup').modal();">
        </span>
    </div>
</div>

<div id="sendMessagePopup" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>New Message</h3>
    </div>
    <div class="modal-body">
        To:
        {% if user.role == 3 %}
            Focus<br/>

            <select id="contactList" class='hidden'>
                <option value="michael.kiff@focus.ca">Michael Kiff</option>
            </select>
        {% else %}
        <br/>
        <select id="clientList">
            <option value="noclient"></option>
            {% for client in clientList %}
                <option value="{{ client.clientId }}">{{ client.name }}</option>
            {% endfor %}
        </select>
        <select id="contactList">
            <option value="noclient"></option>
        </select>
        {% endif %}
        <br/>
        Subject: <input class="input-block-level" type="text" id="subject" name="subject" ><br/>
        Message:
        <textarea class="input-block-level" name="message" id="message" >


        </textarea><br/>
        Attachment: <input type="file" name="attachment" /><br/>

    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-secondary" data-dismiss="modal">Cancel</a>
        <input class="btn btn-primary" type="submit" value="Send" onclick="SendMessage();">
    </div>
</div>

    <div id="viewMessagePopup" class="modal hide fade">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3><span id="viewMessageSubject">Subject goes here</span></h3>
        </div>
        <div class="modal-body">
            <b>From:</b> <span id="viewMessageFrom">Someone</span><br/>
            <b>Sent on:</b> <span id="viewMessageDate">some time</span><br/>
            <b>Message:</b><br/>
            <span id="viewMessageBody"></span><br/>
            <span id="viewMessageAttachment"><b>files</b></span>

        </div>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal" onclick="SendReply();">Reply</a>
            <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
        </div>
    </div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
<script src="/static/dateHelper.js"></script>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function(){
        $("#menuMessages").addClass("active");
        var inboxTable = $('#inboxTable').dataTable(
                {
                    "bPaginate": true,
                    "bSearchable": true,
                    "bFilter": true,
                    "bScrollCollapse": true,
                    "aaSorting": [[1, 'desc']],
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": 50,
                    "oTableTools": {
                        "sRowSelect": "single",
                        "aButtons": []
                    },
                    "aoColumns": [
                        { "sWidth": "10px", "bSortable": false },
                        { "sWidth": "180px" },
                        { "sWidth": "150px" },
                        { "sWidth": "250px" },
                        null,
                        { "sWidth": "10px", "bSortable": false },
                        null
                    ]
                }
        );
        $("#inboxTable_filter").css("display", "none");
        $('#inboxTable_length').css("display", "none");

        $('#inboxDateFrom').datepicker().on('changeDate', function(ev){
            inboxTable.fnDraw();
            $('#inboxDateFrom').datepicker('hide');
        } );

        $('#inboxDateTo').datepicker().on('changeDate', function(ev){
            inboxTable.fnDraw();
            $('#inboxDateTo').datepicker('hide');
        } );

        $("#inboxFrom").keyup(function () { InboxFilterChanged($("#inboxFrom").val(), 2); });
        $("#inboxClient").keyup(function () { InboxFilterChanged($("#inboxClient").val(), 3); });
        $("#inboxSubject").keyup(function () { InboxFilterChanged($("#inboxSubject").val(), 4); });

        $('#sentMessagesTable').dataTable(
                {
                    "bPaginate": true,
                    "bSearchable": true,
                    "bFilter": true,
                    "bScrollCollapse": true,
                    "aaSorting": [[1, 'desc']],
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": 50,
                    "oTableTools": {
                        "sRowSelect": "single",
                        "aButtons": []
                    },
                    "aoColumns": [
                        { "sWidth": "10px", "bSortable": false },
                        { "sWidth": "180px" },
                        { "sWidth": "150px" },
                        { "sWidth": "250px" },
                        null,
                        { "sWidth": "10px", "bSortable": false },
                        null
                    ]
                }
        );
        $("#sentMessagesTable_filter").css("display", "none");
        $('#sentMessagesTable_length').css("display", "none");

        $("#sentDateFrom").keyup(function () { SentFilterChanged($("#sentDateFrom").val(), 1); });
        $("#sentDateTo").keyup(function () { SentFilterChanged($("#sentDateTo").val(), 1); });
        $("#sentTo").keyup(function () { SentFilterChanged($("#sentTo").val(), 2); });
        $("#sentClient").keyup(function () { SentFilterChanged($("#sentClient").val(), 3); });
        $("#sentSubject").keyup(function () { SentFilterChanged($("#sentSubject").val(), 4); });

        $("#clientList").change(function () { ClientSelectionChanged($("#sentSubject").val(), 4); });

        $('a[data-toggle="tab"]').on('shown', function (e) {
            var t = $('#sentMessagesTable').dataTable();
            t.fnAdjustColumnSizing();
        })

        $(".messageRow").click(function(e) {
            var messageId = $(e.target.parentNode).find("td:nth-child(7)").text();
            ViewMessage(messageId, true);
            $(e.target.parentNode).find("td:nth-child(1)").text("")
        });

        $(".sentMessageRow").click(function(e) {
            var messageId = $(e.target.parentNode).find("td:nth-child(7)").text();
            ViewMessage(messageId, true);
            $(e.target.parentNode).find("td:nth-child(1)").text("")
        });


    });

    function ClientSelectionChanged() {
        var selectedClient = $("#clientList").val();
        $("#contactList").empty();
        $.ajax(
                {
                    url: '/getContactsForClient/?clientId=' + selectedClient,
                    type: 'GET',
                    cache: false,
                    async: true,
                    dataType: 'json',
                    success: function (data) {
                        for(var i = 0; i < data.length; i++)
                        {
                            $('#contactList').append( new Option(data[i].fields.first_name + ' ' + data[i].fields.last_name, data[i].fields.username) );
                        }
                    },
                    error: function(data) {

                    }
                }
        );
    }

    function ClearFilter(){
        $('#inboxDateFrom>input').val('');
        $('#inboxDateTo>input').val('');
        $('#inboxDateFrom').data('datepicker').date = null;
        $('#inboxDateTo').data('datepicker').date = null;

        $("#inboxFrom").val('');
        $("#inboxClient").val('');
        $("#inboxSubject").val('');

        var table = $("#inboxTable").dataTable();
        var oSettings = table.fnSettings();
        for(iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
            oSettings.aoPreSearchCols[ iCol ].sSearch = '';
        }
        table.fnDraw();
    }

    function parseDateValue(input) {
        input = input.replace('.','');
        return Date.parse(input);
    }

    $.fn.dataTableExt.afnFiltering.push(
            function(oSettings, aData, iDataIndex){
                var dateStart =$('#inboxDateFrom>input').val();
                var dateEnd =$('#inboxDateTo>input').val();
                if (!dateStart && !dateEnd) return true;
                var evalDate= aData[1].substring(0,13);

                if (!dateStart) {
                    if (parseDateValue(evalDate) <= parseDateValue(dateEnd)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                } else if(!dateEnd) {
                    if (parseDateValue(evalDate) >= parseDateValue(dateStart)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }

                if (parseDateValue(evalDate) >= parseDateValue(dateStart) && parseDateValue(evalDate) <=parseDateValue(dateEnd)) {
                    return true;
                }
                else {
                    return false;
                }

            });


    function InboxFilterChanged(value, column) {
        var table = $("#inboxTable").dataTable();
        if (!value) value = '';
        table.fnFilter(value, column);
    }

    function SentFilterChanged(value, column) {
        var table = $("#sentMessagesTable").dataTable();
        if (!value) value = '';
        table.fnFilter(value, column);
    }

    function ViewMessage(messageId, markAsRead) {
        $.ajax(
                {
                    url: '/getMessage/?messageId=' + messageId,
                    type: 'GET',
                    cache: false,
                    async: true,
                    dataType: 'json',
                    success: function (data) {
                        var dateAdded = new Date(data[0].fields.date);
                        dateAdded = dateAdded.format("mmmm d, yyyy HH:MM");

                        var from = ConvertUserIdToName(data[0].fields.sentFrom);

                        $('#viewMessageSubject').text(data[0].fields.subject);
                        $('#viewMessageFrom').text(from);
                        $('#viewMessageDate').text(dateAdded);
                        $('#viewMessageBody').text(data[0].fields.message);
                        $('#viewMessageAttachment').text("");

                        $('#viewMessagePopup').modal();

                        if(markAsRead == true)
                            UserViewedMessage(messageId);
                        // mark as read
                    },
                    error: function(data) {
                        alert("An error occurred while retrieving your message.");
                        // hide ajax loading image and enable button again
                    }
                }
        );
    }

    function UserViewedMessage(messageId) {
        var user = '{{ user.userId }}';
        $.ajax(
                {
                    url: '/userViewedMessage/?user=' + user + '&messageId=' + messageId,
                    type: 'GET',
                    cache: false,
                    async: true,
                    dataType: 'json',
                    success: function (data) {
                        // subtract 1 from the new messages in header
                    },
                    error: function(data) {
                        console.log("Error setting UserViewedJobs");
                        // do nothing
                    }
                }
        );
    }

    function SendMessage() {
        var subject = $("#subject").val();
        var to = $("#contactList").val();
        var message = $.trim($("#message").val());

        $.ajax(
                {
                    url: '/sendMessage',
                    type: 'POST',
                    cache: false,
                    async: true,
                    dataType: 'json',
                    data: { 'subject': subject, 'to': to, 'message': message },
                    success: function (data) {
                        if(data.success == true) {
                            alert("Your message has been sent.");
                            $('#sendMessagePopup').modal('hide');
                        }
                        else
                            alert("An error occurred while sending your message.");
                        // hide ajax loading image and enable button again
                        // redirect to login page
                    },
                    error: function(data) {
                        console.log("Error setting UserViewedJobs");
                        alert("An error occurred while sending your message");
                        // hide ajax loading image and enable button again
                    }
                }
        );
    }

    function SendReply() {

        $('#sendMessagePopup').modal();

    }

    function ConvertUserIdToName(userId) {
        if(userId==1)
            return "Michael Kiff";
        if(userId==2)
            return "Michelle Santarina";
        if(userId==3)
            return "Some Person";
    }

</script>