<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.css" />
    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/datepicker.css" />
    {% if user.role == 3 %}
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                $.src='//cdn.zopim.com/?1Agr2UfhheuEIAobJEVMxe7YjJyfsyKv';z.t=+new Date;$.
                        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
        <!--End of Zopim Live Chat Script-->
    {% endif %}
</head>
<body>

{% if user.role == 3 %}
    {% include '_clientMenu.html' %}
{% else %}
    {% include '_pmMenu.html' %}
{% endif %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 well">
            <fieldset>
                <legend>Filter History&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn" type="button" value="Clear" onclick="ClearFilter();"></legend>
                Date From: <div data-date-format="mm/dd/yyyy" data-date="" id="dateFrom"class="input-append date">
                <input type="text" class="dateFrom jobHistoryFilterDate">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div><br/>
                Date To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div data-date-format="mm/dd/yyyy" data-date="" id="dateTo"class="input-append date">
                <input type="text" class="dateTo jobHistoryFilterDate">
                <span class="add-on"><i class="icon-calendar"></i></span>
            </div><br/>
            Job:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="job" class="filterField jobHistoryFilter"/><br/>
            Activity:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="activity" class="filterField jobHistoryFilter"/></fieldset><br/>
        </div>
        <div class="span10">
            <div id="exportTable" class="pull-right"><button class="btn btn-mini" type="button">PDF</button> <button class="btn btn-mini" type="button">XLS</button></div>
            <table class='table table-bordered table-striped table-hover' id="historyTable">
                <thead>
                <tr>
                    <td>Date</td>
                    <td>Job</td>
                    <td>Activity</td>
                    <td>Date Sort</td>

                </tr>
                </thead>
                <tbody>
                {% for h in history %}
                    <tr>
                        <td>{{ h.date }}</td>
                        <td>{{ h.job.number }}</td>
                        <td>{{ h.change }}</td>
                        <td>{{ h.date|date:"Ymdis"|lower }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
</body>
</html>

<script type="text/javascript">

    $(document).ready(function(){
        $("#menuJobHistory").addClass("active");

        var historyTable = $("#historyTable").dataTable(
                {
                    "bPaginate": true,
                    "bSearchable": true,
                    "bFilter": true,
                    "bScrollCollapse": true,
                    "aaSorting": [[8, 'desc']],
                    "sPaginationType": "full_numbers",
                    "iDisplayLength": 20,
                    "oTableTools": {
                        "sRowSelect": "single",
                        "aButtons": []
                    },
                    "aoColumns": [
                        { "sWidth": "180px" ,iDataSort:3},
                        { "sWidth": "75px" },
                        { "bSortable": false },
                        { "bVisible": false }
                    ]
                }
        );
        $("#historyTable_filter").css("display", "none");
        $('#historyTable_length').css("display", "none");

        $('#dateFrom').datepicker().on('changeDate', function(ev){
            historyTable.fnDraw();
            $('#dateFrom').datepicker('hide');
        } );

        $('#dateTo').datepicker().on('changeDate', function(ev){
            historyTable.fnDraw();
            $('#dateTo').datepicker('hide');
        } );
        $("#job").keyup(function () { FilterChanged($("#job").val(), 1); });
        $("#activity").keyup(function () { FilterChanged($("#activity").val(), 2); });

    });

    $.fn.dataTableExt.afnFiltering.push(
            function(oSettings, aData, iDataIndex){
                var dateStart =$('#dateFrom>input').val();
                var dateEnd =$('#dateTo>input').val();
                if (!dateStart && !dateEnd) return true;
                var evalDate= aData[0].substring(0,13);

                if (!dateStart) {
                    if (parseDateValue(evalDate) <= parseDateValue(dateEnd)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                } else if(!dateEnd) {
                    if (parseDateValue(evalDate) >= parseDateValue(dateStart)) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }

                if (parseDateValue(evalDate) >= parseDateValue(dateStart) && parseDateValue(evalDate) <=parseDateValue(dateEnd)) {
                    return true;
                }
                else {
                    return false;
                }

            });

    function parseDateValue(input) {
        input = input.replace('.','');
        return Date.parse(input);
    }

    function ClearFilter(){
        $('#dateFrom>input').val('');
        $('#dateTo>input').val('');
        $('#dateFrom').data('datepicker').date = null;
        $('#dateTo').data('datepicker').date = null;

        $("#job").val('');
        $("#activity").val('');

        var table = $("#historyTable").dataTable();
        var oSettings = table.fnSettings();
        for(iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
            oSettings.aoPreSearchCols[ iCol ].sSearch = '';
        }
        table.fnDraw();
    }

    function FilterChanged(value, column) {
        var table = $("#historyTable").dataTable();
        if (!value) value = '';
        table.fnFilter(value, column);
    }


</script>