<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqChart.css" />
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqRangeSlider.css" />
    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/datepicker.css" />
    <link rel="stylesheet" media="only screen and (max-device-width: 1024px)" href="/static/ipad.css" type="text/css" />
    {% if user.role == 3 %}
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                $.src='//cdn.zopim.com/?1Agr2UfhheuEIAobJEVMxe7YjJyfsyKv';z.t=+new Date;$.
                        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
        <!--End of Zopim Live Chat Script-->
    {% endif %}
</head>
<body>

{% if user.role == 3 %}
    {% include '_clientMenu.html' %}
{% else %}
    {% include '_pmMenu.html' %}
{% endif %}


<div class="container-fluid">
<div class="row-fluid">
<div class="span2 well">
        <legend>Filter Jobs&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input class="btn" type="button" value="Clear" onclick="ClearFilter();"></legend>
        Job Number:&nbsp;<input type="text" id="jobNumber" class="filterJobField manageJobFilter"/><br/>
        Status:<br/>
        <div class="input-append">
        <select id="jobStatus" class="manageJobFilterSelect2">
            <option value=""></option>
            <option value="1">New Job</option>
            <option value="2">Job Setup Completed</option>
            <option value="3">Released To Field</option>
            <option value="4">Field Work Started</option>
            <option value="5">Field Work Completed</option>
            <option value="6">Drafting Started</option>
            <option value="7">Drafting Completed</option>
            <option value="8">Checking Started</option>
            <option value="9">Checking Completed</option>
            <option value="10">Completed</option>
            <option value="11">Cancelled</option>
        </select>
        <button class="btn dropdown-toggle" data-toggle="dropdown" type="button"><span class="icon-info-sign"></span></button>
        <div class="dropdown-menu" id="chartDivPopup" role="menu"><div id="jobStatusChart" style="height:300px;width:260px;"></div></div>
        </div>
        <br/>
        Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <select id="jobType" class="manageJobFilterSelect">
            <option value=""></option>
            <option value="1">Pipeline</option>
            <option value="2">Wellsite</option>
            <option value="3">Core Hole</option>
            <option value="4">Right of Way</option>
            <option value="5">Tower Site</option>
            <option value="6">Campsite</option>
            <option value="7">Other</option>
        </select>
        <br/>
        AFE:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="afe" class="filterJobField manageJobFilter"/><br/>
        Client File #&nbsp;&nbsp;<input type="text" id="clientFile" class="filterJobField manageJobFilter"/><br/>
        Date From:&nbsp;&nbsp;&nbsp;<div data-date-format="mm/dd/yyyy" data-date="" id="dateFrom"class="input-append date">
        <input type="text" class="dateField manageJobFilterDate">
        <span class="add-on"><i class="icon-calendar"></i></span>
    </div><br/>
        Date To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div data-date-format="mm/dd/yyyy" data-date="" id="dateTo"class="input-append date">
        <input type="text" class="dateField manageJobFilterDate">
        <span class="add-on"><i class="icon-calendar"></i></span>
    </div><br/>
        <hr class="sidebarHR"/>
        Location / Legal Description:
        <ul class="nav nav-tabs ">
            <li class="active"><a href="#atsFilterFrom" data-toggle="tab">ATS</a></li>
            <li><a href="#pngFilterFrom" data-toggle="tab">PNG</a></li>
        </ul>
        <div id="tabContent" class="tab-content">
            <div class="tab-pane active" id="atsFilterFrom">
                <div id="fromATS" style="font-size: 12px;">

                        <table>
                            <tr>
                                <td>LSD</td>
                                <td>Sec.</td>
                                <td>Town.</td>

                            </tr>
                            <tr>
                                <td><input type="text" id="fromLsd" class="input-small locationFilter"/></td>
                                <td><input type="text" id="fromSection" class="input-small locationFilter"/></td>
                                <td><input type="text" id="fromTownship" class="input-small locationFilter"/></td>

                            </tr>

                        </table>
                    <table>
                        <tr>

                            <td>Range</td>
                            <td>Mer.</td>
                        </tr>
                        <tr>

                            <td><input type="text" id="fromRange" class="input-small locationFilter"/></td>
                            <td><input type="text" id="fromMeridian" class="input-small locationFilter"/></td>
                        </tr>

                    </table>
                </div>
            </div>
            <div class="tab-pane" id="pngFilterFrom">
                <div id="fromPNG" style="font-size: 12px;">

                        <table style="table-layout: fixed;box-sizing: border-box;">
                            <tr>
                                <td style="word-wrap: break-word">Qtr.</td>
                                <td>Unit</td>
                                <td>Block</td>

                            </tr>
                            <tr>
                                <td><input type="text" id="fromQuarterUnit" class="input-small pngLocationFilter"/></td>
                                <td><input type="text" id="fromUnit" class="input-small pngLocationFilter"/></td>
                                <td><input type="text" id="fromBlock" class="input-small pngLocationFilter"/></td>

                            </tr>
                        </table>

                    <table style="table-layout: fixed;box-sizing: border-box;">
                        <tr>

                            <td style="word-wrap: break-word">NTS</td>
                            <td style="word-wrap: break-word">1-250</td>
                            <td style="word-wrap: break-word">1-50</td>
                        </tr>
                        <tr>

                            <td><input type="text" id="fromNtsMapsheet" class="input-small pngLocationFilter"/></td>
                            <td><input type="text" id="fromMapsheet1250" class="input-small pngLocationFilter"/></td>
                            <td><input type="text" id="fromMapsheet150" class="input-small pngLocationFilter"/></td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>

</div>
<div class="span10">

    {% if numberOfChangesSinceLastLogin > 0 %}
        <div class="alert fade in">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ numberOfChangesSinceLastLogin }} jobs have changed since your last visit. See the highlighted jobs below, or <a href="/viewJobHistory">Click here to see your full history.</a>
        </div>
    {% endif %}

    <div id="exportTable" class="pull-right"><button class="btn btn-mini" type="button">PDF</button> <button class="btn btn-mini" type="button">XLS</button></div>
    <table class='table table-bordered table-striped table-hover' id="jobTable">
        <thead>
        <tr>
            <td> </td>
            <td>Job</td>
            <td>Status</td>
            <td>Type</td>
            <td>Location Surface/From</td>
            <td>From LSD</td>
            <td>From Section</td>
            <td>From Township</td>
            <td>From Range</td>
            <td>From Meridian</td>
            <td>From Quarter Unit</td>
            <td>From Unit</td>
            <td>From Block</td>
            <td>From NTS Mapsheet</td>
            <td>From Mapsheet 1-250</td>
            <td>From Mapsheet 1-50</td>
            <td>Location Bottom/To</td>
            <td>To LSD</td>
            <td>To Section</td>
            <td>To Township</td>
            <td>To Range</td>
            <td>To Meridian</td>
            <td>To Quarter Unit</td>
            <td>To Unit</td>
            <td>To Block</td>
            <td>To NTS Mapsheet</td>
            <td>To Mapsheet 1-250</td>
            <td>To Mapsheet 1-50</td>
            <td>AFE #</td>
            <td>Client File #</td>
            <td>Start Date</td>
            <td>Last modified</td>
            <td>Expected Completion</td>
            <td>Assigned To</td>
            <td>Notes</td>
            <td>Files</td>
            <td>Map</td>
            <td>Sort Column Start Date</td>
            <td>Sort Column Expected Completion</td>
        </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr {% if job.lastModifiedDate > user.lastViewedJobs %} class="success" {% endif %}>
                <td>
                    {% if job.invoiceStatus == 3 %}
                        <span class="icon-ok-sign"></span>
                    {% endif %}
                    {% if job.invoiceStatus == 2 %}
                        <span class="icon-warning-sign"></span>
                    {% endif %}
                </td>
                <td><a onclick="ShowJobHistory('{{ job.number }}');" href="#" )>{{ job.number }}</a></td>
                <td>{{ job.get_status_display }}</td>
                <td>{{ job.get_jobType_display }}</td>
                <td>{{ job.location_surface_from }}</td>
                <td>{{ job.location_surface_from.LSD }}</td>
                <td>{{ job.location_surface_from.Section }}</td>
                <td>{{ job.location_surface_from.Township }}</td>
                <td>{{ job.location_surface_from.Range }}</td>
                <td>{{ job.location_surface_from.Meridian }}</td>
                <td>{{ job.location_surface_from.QuarterUnit }}</td>
                <td>{{ job.location_surface_from.Unit }}</td>
                <td>{{ job.location_surface_from.Block }}</td>
                <td>{{ job.location_surface_from.NTSMapsheet }}</td>
                <td>{{ job.location_surface_from.Mapsheet1_250 }}</td>
                <td>{{ job.location_surface_from.Mapsheet1_50 }}</td>
                <td>{{ job.location_bottom_to }}</td>
                <td>{{ job.location_surface_to.LSD }}</td>
                <td>{{ job.location_surface_to.Section }}</td>
                <td>{{ job.location_surface_to.Township }}</td>
                <td>{{ job.location_surface_to.Range }}</td>
                <td>{{ job.location_surface_to.Meridian }}</td>
                <td>{{ job.location_surface_to.QuarterUnit }}</td>
                <td>{{ job.location_surface_to.Unit }}</td>
                <td>{{ job.location_surface_to.Block }}</td>
                <td>{{ job.location_surface_to.NTSMapsheet }}</td>
                <td>{{ job.location_surface_to.Mapsheet1_250 }}</td>
                <td>{{ job.location_surface_to.Mapsheet1_50 }}</td>
                <td>{{ job.afeNumber }}</td>
                <td>{{ job.clientFileNumber }}</td>
                <td>{{ job.startDate }}</td>
                <td>{{ job.lastModifiedDate }}</td>
                <td>{{ job.expectedCompletionDate }}</td>
                <td>{{ job.assignedTo }}</td>
                <td>{{ job.notes }}</td>

                <td>
                    {% if job.invoiceStatus == 3 %}
                        <span class="icon-ok-sign"></span>
                    {% endif %}
                    {% if job.invoiceStatus == 2 %}
                        <span class="icon-warning-sign"></span>
                    {% endif %}
                    {% if job.numberOfFiles == 1 %}
                        <a onclick="ShowJobFiles('{{ job.number }}');" class="icon-file" href="#" )> </a>
                    {% endif %}
                    {% if job.numberOfFiles > 1 %}
                        <a onclick="ShowJobFiles('{{ job.number }}');" class="icon-book" href="#" )> </a>
                    {% endif %}
                </td>
                <td><center><a href="http://maps.google.ca"><span class="icon-globe"></span></a></center></td>
                <td>{{ job.startDate|date:"Ymd"|lower  }}</td>
                <td>{{ job.expectedCompletionDate|date:"Ymd"|lower  }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
</div>


<div id="jobFilesPopup" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span id="jobFileHeader"></span></h3>
    </div>
    <div class="modal-body">
        <table id="jobFilesTable" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <td>Name</td>
                <td>Size</td>
                <td>Type</td>
                <td>Date Added</td>
            </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>
<div id="jobHistoryPopup" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3><span id="jobHistoryHeader"></span></h3>
    </div>
    <div class="modal-body">
        <table id="jobHistoryTable" class="table table-bordered table-striped table-hover">
            <thead>
            <tr>
                <td>Date</td>
                <td>Change</td>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td></td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn btn-primary" data-dismiss="modal">Close</a>
    </div>
</div>
<div id="welcome" class="modal hide fade">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h1>Welcome</h1>
    </div>
    <div class="modal-body">
        To help you get started, we've prepared a brief tour for your first visit.
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" data-dismiss="modal">Skip Tour</a>
        <a href="#" class="btn btn-primary"data-dismiss="modal" id="startTour">Start Tour</a>
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/jquery.cookie.js"></script>
<script src="/static/bootstrap/js/bootstrap.js"></script>
<script src="/static/bootstrap/js/bootstrap-tour.js"></script>

<script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
<script src="/static/jqplot/jquery.jqChart.min.js"></script>
<script src="/static/jqplot/jquery.jqRangeSlider.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
<script src="/static/dateHelper.js"></script>
<!--[if IE]><script lang="javascript" type="text/javascript" src="/static/jqplot/excanvas.js"></script><![endif]-->
</body>
</html>

<script type="text/javascript">

var jobList = eval("{{ jobsJson|escapejs }}");

$(document).ready(function(){
    $("#menuViewJobs").addClass("active");
    var tour = new Tour();
    tour.addStep({
        element: "#jobTable", /* html element next to which the step popover should be shown */
        title: "<h2>Your Jobs</h2>", /* title of the popover */
        content: "Here you can see a full list of jobs for your company.<br/><br/>Click on any column title to sort.", /* content of the popover */
        placement: "top" // string|function
    });
    tour.addStep({
        element: "#jobTable tbody tr td:first a", /* html element next to which the step popover should be shown */
        title: "<h2>Job History</h2>", /* title of the popover */
        content: "Click on a Job number to view that job's history.", /* content of the popover */
        placement: "bottom" // string|function
    });
    tour.addStep({
        element: "#menuJobHistory", /* html element next to which the step popover should be shown */
        title: "<h2>Job History</h2>", /* title of the popover */
        content: "Or click here for a comprehensive list of all your job activity.", /* content of the popover */
        placement: "bottom" // string|function
    });
    tour.addStep({
        element: ".icon-file:first", /* html element next to which the step popover should be shown */
        title: "<h2>Job Files</h2>", /* title of the popover */
        content: "Click on the document icon to view plans, invoices, and other job files.", /* content of the popover */
        placement: "left" // string|function
    });
    tour.addStep({
        element: ".well legend", /* html element next to which the step popover should be shown */
        title: "<h2>Job Filter</h2>", /* title of the popover */
        content: "You can filter which jobs are displayed with a variety of different parameters.", /* content of the popover */
        placement: "right" // string|function
    });
    tour.addStep({
        element: "#menuMessages", /* html element next to which the step popover should be shown */
        title: "<h2>Messaging</h2>", /* title of the popover */
        content: "Need to talk to a Focus project manager? Send and view messages here.", /* content of the popover */
        placement: "bottom" // string|function
    });

    $("#startTour").click(function(){
        tour.restart();

    });
    $("#menuHelp").click(function(){
        $('#welcome').modal();

    });
    {% if user.user.id == 3 %}
        $('#welcome').modal();
    {% endif %}
    var jobTable= $('#jobTable').dataTable(
            {
                "bPaginate": true,
                "bSearchable": true,
                "bFilter": true,
                "bScrollCollapse": true,
                "aaSorting": [[1, 'asc']],
                "sPaginationType": "full_numbers",
                "iDisplayLength": 20,
                "oTableTools": {
                    "sRowSelect": "single",
                    "aButtons": []
                },
                "aoColumns": [
                    { "bVisible": false },
                    { "sWidth": "70px" },
                    { "sWidth": "150px" },
                    { "sWidth": "80px" }, // type
                    null,
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    null, // location to
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    { "bVisible": false },
                    null, // afe 28
                    { "sWidth": "90px" }, // client file
                    { "sWidth": "100px", "iDataSort" : 37  }, //sort by a different column where date format is easy to sort
                    { "bVisible": false }, // last modified
                    { "iDataSort" : 38  }, //sort by a different column
                    { "bVisible": false }, // assigned to
                    { "bVisible": false }, // notes
                    { "bSortable": false }, // files
                    { "sWidth": "10px", "bSortable": false },
                    { "bVisible": false }, //start date sort column
                    { "bVisible": false } //expected completion sort column
                ]
            }
    );
    $("#jobTable_filter").css("display", "none");
    $('#jobTable_length').css("display", "none");

    $('#dateFrom').datepicker().on('changeDate', function(ev){
        jobTable.fnDraw();
        $('#dateFrom').datepicker('hide');
    } );

    $('#dateTo').datepicker()
            .on('changeDate', function(ev){
                jobTable.fnDraw();
                $('#dateTo').datepicker('hide');
            } );

    $("#jobNumber").keyup(function () { JobFilterChanged($("#jobNumber").val(), 1); });
    $("#afe").keyup(function () { JobFilterChanged($("#afe").val(), 28); });
    $("#clientFile").keyup(function () { JobFilterChanged($("#clientFile").val(), 29); });
    $("#jobStatus").change(function () { JobFilterChanged($("#jobStatus").val(), 2,true); });
    $("#jobType").change(function () { JobFilterChanged($("#jobType").val(), 3,true); });
    $("#fromLsd").keyup(function () { JobFilterChanged($("#fromLsd").val(), 5,true); });
    $("#fromSection").keyup(function () { JobFilterChanged($("#fromSection").val(), 6,true); });
    $("#fromTownship").keyup(function () { JobFilterChanged($("#fromTownship").val(), 7,true); });
    $("#fromRange").keyup(function () { JobFilterChanged($("#fromRange").val(), 8,true); });
    $("#fromMeridian").keyup(function () { JobFilterChanged($("#fromMeridian").val(), 9,true); });
    $("#fromQuarterUnit").keyup(function () { JobFilterChanged($("#fromQuarterUnit").val(), 10,true); });
    $("#fromUnit").keyup(function () { JobFilterChanged($("#fromUnit").val(), 11,true); });
    $("#fromBlock").keyup(function () { JobFilterChanged($("#fromBlock").val(), 12,true); });
    $("#fromNtsMapsheet").keyup(function () { JobFilterChanged($("#fromNtsMapsheet").val(), 13,true); });
    $("#fromMapsheet1250").keyup(function () { JobFilterChanged($("#fromMapsheet1250").val(), 14,true); });
    $("#fromMapsheet150").keyup(function () { JobFilterChanged($("#fromMapsheet150").val(), 15,true); });

    $("#jobFilesTable").dataTable(
            {
                "bPaginate": false,
                "bSearchable": false,
                "bFilter": false,
                "bScrollCollapse": true,
                "aaSorting": [[3, 'desc']],
                "sPaginationType": "full_numbers",
                "oTableTools": {  "sRowSelect": "single",
                    "aButtons": []
                }
            }
    );

    $("#jobHistoryTable").dataTable(
            {
                "bPaginate": false,
                "bSearchable": false,
                "bFilter": false,
                "bScrollCollapse": true,
                "aaSorting": [[0, 'desc']],
                "sPaginationType": "full_numbers",
                "oTableTools": {
                    "sRowSelect": "single",
                    "aButtons": []
                },
                "aoColumns": [
                    { "sWidth": "10px" },
                    null
                ]
            }
    );
    UserViewedJobs();
    GraphifyStatus();
    PopulateATSLookups();
});

function ClearFilter(){
    $('#dateFrom>input').val('');
    $('#dateTo>input').val('');
    $('#dateFrom').data('datepicker').date = null;
    $('#dateTo').data('datepicker').date = null;
    $("#jobNumber").val('');
    $("#afe").val('');
    $("#clientFile").val('');
    $("#jobStatus").val('');
    $("#jobType").val('');
    $("#fromLsd").val('');
    $("#fromSection").val('');
    $("#fromTownship").val('');
    $("#fromRange").val('');
    $("#fromMeridian").val('');
    $("#fromQuarterUnit").val('');
    $("#fromUnit").val('');
    $("#fromBlock").val('');
    $("#fromNtsMapsheet").val('');
    $("#fromMapsheet1250").val('');
    $("#fromMapsheet150").val('');

    var table = $("#jobTable").dataTable();
    var oSettings = table.fnSettings();
    for(iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
        oSettings.aoPreSearchCols[ iCol ].sSearch = '';
    }
    table.fnDraw();
}

function parseDateValue(input) {
    input = input.replace('.','');
    return Date.parse(input);
}

function JobFilterChanged(value, column, blnExactMatch) {
    if (column == 2) value = getStatusDisplay(value);
    if (column ==3) value = getJobTypeDisplay(value);

    if (!value) {
        value = '';
        blnExactMatch = false;
    }
    var table = $("#jobTable").dataTable();
    if (blnExactMatch)
        table.fnFilter( "^"+ value+"$", column, true);
    else
        table.fnFilter(value, column);
}

$.fn.dataTableExt.afnFiltering.push(
        function(oSettings, aData, iDataIndex){
            var dateStart =$('#dateFrom>input').val();
            var dateEnd =$('#dateTo>input').val();
            if (!dateStart && !dateEnd) return true;
            var evalDate= aData[30];

            if (!dateStart) {
                if (parseDateValue(evalDate) <= parseDateValue(dateEnd)) {
                    return true;
                }
                else {
                    return false;
                }
            } else if(!dateEnd) {
                if (parseDateValue(evalDate) >= parseDateValue(dateStart)) {
                    return true;
                }
                else {
                    return false;
                }
            }

            if (parseDateValue(evalDate) >= parseDateValue(dateStart) && parseDateValue(evalDate) <=parseDateValue(dateEnd)) {
                return true;
            }
            else {
                return false;
            }

        });

function ShowJobFiles(jobNumber) {
    $("#jobFileHeader").text("Files for " + jobNumber);
    var table = $("#jobFilesTable").dataTable();
    table.fnClearTable();
    $.ajax(
            {
                url: '/getJobDocuments/?jobNumber=' + jobNumber,
                type: 'GET',
                cache: false,
                async: true,
                dataType: 'json',
                success: function (data) {
                    for(var i = 0; i < data.length; i++)
                    {
                        var displayName = data[i].fields.file.replace("ClientPortal/static/Files/","");
                        var fileLink = "<a href='/" + data[i].fields.file.replace("ClientPortal/", "") + "'>" + displayName + "</a>";
                        var fileType = "";
                        var dateAdded = new Date(data[i].fields.dateAdded);
                        dateAdded = dateAdded.format("mmmm d, yyyy HH:MM");

                        if(data[i].fields.fileType == 1)
                            fileType = "Invoice";
                        else if(data[i].fields.fileType == 2)
                            fileType = "Plan";
                        else
                            fileType = "Misc"

                        table.fnAddData([fileLink, "100kb", fileType, dateAdded]);
                    }
                },
                error: function(data) {
                    console.log("Error getting job files");
                    // do nothing
                }
            }
    );

    $('#jobFilesPopup').modal();
}

function ShowJobHistory(jobNumber) {
    $("#jobHistoryHeader").text("History for " + jobNumber);
    var table = $("#jobHistoryTable").dataTable();
    table.fnClearTable();
    $.ajax(
            {
                url: '/getJobHistory/?jobNumber=' + jobNumber,
                type: 'GET',
                cache: false,
                async: true,
                dataType: 'json',
                success: function (data) {
                    for(var i = 0; i < data.length; i++)
                    {
                        var dateAdded = new Date(data[i].fields.date)
                        dateAdded = dateAdded.format("mmmm d, yyyy HH:MM");

                        table.fnAddData([dateAdded, data[i].fields.change]);
                    }
                },
                error: function(data) {
                    console.log("Error getting job history");
                    // do nothing
                }
            }
    );

    $('#jobHistoryPopup').modal();
}

function GraphifyStatus() {
    var statCount = {};
    $.each(jobList, function() {
        var status = this.fields.status;
        statCount[status] = statCount[status] +1 || 1;
    });
    var data = [];
    for (var s in statCount) {
        data.push([getStatusDisplay(s), parseInt(statCount[s])]);
    }

    $('#jobStatusChart').jqChart({
        legend: {
            visible: true,
            border: {
                lineWidth: 1,
                strokeStyle: '#f5f5f5'
            },
            location: 'bottom',
            font: '10px sans-serif',
            textFillStyle: '#418CF0',
            background: '#eeeeee',
            margin: 0
        },
        animation: { duration: 1 },
        grid: {
            drawBorder: false,
            drawGridlines: false,
            background: '#f5f5f5'
        },
        border: { strokeStyle: '#f5f5f5' },
        shadows: {
            enabled: true
        },
        series: [
            {
                type: 'pie',
                labels: {
                    valueType: 'value',
                    font: '10px sans-serif',
                    fillStyle: 'black'
                },
                data: data
            }
        ]
    });
    $('#jobStatusChart').bind('dataPointMouseUp', function (e, data) {
        ClearFilter();
        var statusId = ConvertJobStatusNameToId(data.dataItem[0]);
        $("#jobStatus").val(statusId);
        var table = $("#jobTable").dataTable();
        table.fnFilter( "^"+ data.dataItem[0]+"$", 2, true);
    });
}

function ConvertJobStatusNameToId(name) {
    if(name == "New Job")
        return "1";
    else if(name == "Job Setup Completed")
        return "2";
    else if(name == "Released To Field")
        return "3";
    else if(name == "Field Work Started")
        return "4";
    else if(name == "Field Work Completed")
        return "5";
    else if(name == "Drafting Started")
        return "6";
    else if(name == "Drafting Completed")
        return "7";
    else if(name == "Checking Started")
        return "8";
    else if(name == "Checking Completed")
        return "9";
    else if(name == "Completed")
        return "10";
    else if(name == "Cancelled")
        return "11";
}

function getStatusDisplay(s) {
    var h = {1: 'New Job', 2: 'Job Setup Completed', 3: 'Released To Field', 4: 'Field Work Started', 5: 'Field Work Completed', 6: 'Drafting Started', 7: 'Drafting Completed', 8: 'Checking Started', 9: 'Checking Completed',10: 'Completed',11: 'Cancelled'};
    return h[s];
}

function getJobTypeDisplay(t) {
    var types = {1:'Pipeline', 2:'Wellsite',3: 'Core Hole',4:'Right of Way',5: 'Tower Site',6: 'Campsite',7: 'Other'};
    return types[t];
}
function UserViewedJobs() {
    var user = '{{ user.userId }}';
    $.ajax(
            {
                url: '/userViewedJobs/?user=' + user,
                type: 'GET',
                cache: false,
                async: true,
                dataType: 'json',
                success: function (data) {
                    // do nothing
                },
                error: function(data) {
                    console.log("Error setting UserViewedJobs");
                    // do nothing
                }
            }
    );
}

function PopulateATSLookups() {
    for(var i = 1; i < 17; i++) {
        $('#fromLsd').append( new Option(i, i) );
        $('#toLsd').append( new Option(i, i) );
    }

    for(var i = 1; i < 37; i++) {
        $('#fromSection').append( new Option(i, i) );
        $('#toSection').append( new Option(i, i) );
    }

    for(var i = 1; i < 127; i++) {
        $('#fromTownship').append( new Option(i, i) );
        $('#toTownship').append( new Option(i, i) );
    }

    for(var i = 1; i < 31; i++) {
        $('#fromRange').append( new Option(i, i) );
        $('#toRange').append( new Option(i, i) );
    }

    for(var i = 1; i < 7; i++) {
        $('#fromMeridian').append( new Option(i, i) );
        $('#toMeridian').append( new Option(i, i) );
    }
}

</script>