<!DOCTYPE html>
<html>
<head>
    <title>Focus Client Portal</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/jqplot/jquery.jqplot.css" />
    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/datepicker.css" />
    <link rel="stylesheet" type="text/css" href="/static/DataTables-1.9.4/media/css/jquery.dataTables.css" />
    {% if user.role == 3 %}
        <!--Start of Zopim Live Chat Script-->
        <script type="text/javascript">
            window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
                    d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
                    _.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute('charset','utf-8');
                $.src='//cdn.zopim.com/?1Agr2UfhheuEIAobJEVMxe7YjJyfsyKv';z.t=+new Date;$.
                        type='text/javascript';e.parentNode.insertBefore($,e)})(document,'script');
        </script>
        <!--End of Zopim Live Chat Script-->
    {% endif %}
</head>
<body>

{% if user.role == 3 %}
    {% include '_clientMenu.html' %}
{% else %}
    {% include '_pmMenu.html' %}
{% endif %}

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2 well">
            <fieldset>
                <legend>Filter Job Files&nbsp;&nbsp; &nbsp;<input class="btn" type="button" value="Clear" onclick="ClearFilter();"></legend>
                Date From: <div data-date-format="mm/dd/yyyy" data-date="" id="filterDateFrom"class="input-append date">
                    <input type="text" class="dateTo jobFilesFilterDate">
                    <span class="add-on"><i class="icon-calendar"></i></span>
                </div><br/>
            Date To:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<div data-date-format="mm/dd/yyyy" data-date="" id="filterDateTo"class="input-append date">
            <input type="text" class="dateTo jobFilesFilterDate">
            <span class="add-on"><i class="icon-calendar"></i></span>
            </div><br/>
            Job:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="filterJob" class="filterField jobFilesFilter"/><br/>
            Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="filterType" class="filterField jobFilesFilter"/><br/>
            Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="filterName" class="filterField jobFilesFilter"/><br/>
                </fieldset>
        </div>
        <div class="span10">
            <div id="exportTable" class="pull-right"><button class="btn btn-mini" type="button">PDF</button> <button class="btn btn-mini" type="button">XLS</button></div>
            <table class='table table-bordered table-striped table-hover' id="fileTable">
                <thead>
                    <tr>
                        <td>Date Added</td>
                        <td>Job</td>
                        <td>Type</td>
                        <td>Name</td>
                        <td>Size</td>
                        <td>Sort Date Added</td>
                    </tr>
                </thead>
                <tbody>
                {% for file in files %}
                    <tr>
                        <td>{{ file.dateAdded }}</td>
                        <td>{{ file.job.number }}</td>
                        <td>{{ file.get_fileType_display }}</td>
                        <td><a href="/{{ file.file.name|slice:"13:" }}">{{ file.file.name|slice:"26:" }}</a></td>
                        <td>{{ file.file.size|filesizeformat }}</td>
                        <td>{{ file.dateAdded|date:"Ymd"|lower }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/DataTables-1.9.4/media/js/jquery.dataTables.min.js"></script>
<script src="/static/bootstrap/js/bootstrap-datepicker.js"></script>
</body>
</html>

<script type="text/javascript">

$(document).ready(function(){
    $("#menuJobFiles").addClass("active");

    var fileTable=$("#fileTable").dataTable(
            {
                "bPaginate": true,
                "bSearchable": true,
                "bFilter": true,
                "bScrollCollapse": true,
                "aaSorting": [[8, 'desc']],
                "sPaginationType": "full_numbers",
                "iDisplayLength": 20,
                "oTableTools": {
                    "sRowSelect": "single",
                    "aButtons": []
                },
                "aoColumns": [
                    { "sWidth": "180px", "iDataSort" : 5 },
                    { "sWidth": "75px" },
                    { "sWidth": "75px" },
                        null,
                    { "sWidth": "75px" },
                    { "bVisible": false }
                ]
            }
    );
    $("#fileTable_filter").css("display", "none");
    $('#fileTable_length').css("display", "none");

    $('#filterDateFrom').datepicker().on('changeDate', function(ev){
        fileTable.fnDraw();
        $('#filterDateFrom').datepicker('hide');
    } );

    $('#filterDateTo').datepicker()
            .on('changeDate', function(ev){
                fileTable.fnDraw();
                $('#filterDateTo').datepicker('hide');
            } );

    $("#filterJob").keyup(function () { FilterChanged($("#filterJob").val(), 1); });
    $("#filterType").keyup(function () { FilterChanged($("#filterType").val(), 2); });
    $("#filterName").keyup(function () { FilterChanged($("#filterName").val(), 3); });

});
function parseDateValue(input) {
    input = input.replace('.','');
    return Date.parse(input);
}

function FilterChanged(value, column) {
    var table = $("#fileTable").dataTable();
    if (!value) value = '';
    table.fnFilter(value, column);
}

$.fn.dataTableExt.afnFiltering.push(
        function(oSettings, aData, iDataIndex){
            var dateStart =$('#filterDateFrom>input').val();
            var dateEnd =$('#filterDateTo>input').val();
            if (!dateStart && !dateEnd) return true;
            var evalDate= aData[0].substring(0,13);

            if (!dateStart) {
                if (parseDateValue(evalDate) <= parseDateValue(dateEnd)) {
                    return true;
                }
                else {
                    return false;
                }
            } else if(!dateEnd) {
                if (parseDateValue(evalDate) >= parseDateValue(dateStart)) {
                    return true;
                }
                else {
                    return false;
                }
            }

            if (parseDateValue(evalDate) >= parseDateValue(dateStart) && parseDateValue(evalDate) <=parseDateValue(dateEnd)) {
                return true;
            }
            else {
                return false;
            }

        });

function ClearFilter(){
    $('#filterDateTo>input').val('');
    $('#filterDateFrom>input').val('');
    $('#filterDateTo').data('datepicker').date = null;
    $('#filterDateFrom').data('datepicker').date = null;
    $("#filterJob").val('');
    $("#filterType").val('');
    $("#filterName").val('');

    var table = $("#fileTable").dataTable();
    var oSettings = table.fnSettings();
    for(iCol = 0; iCol < oSettings.aoPreSearchCols.length; iCol++) {
        oSettings.aoPreSearchCols[ iCol ].sSearch = '';
    }
    table.fnDraw();
}


</script>